/* Add application styles & imports to this file! */
.solution {
  border: 1px lightslategray solid;
  margin: 0em 3em;
  padding: 1em 3em;
}

.solution-container {
  display: flex;
  flex-direction: row;
}
